/*hhh
p {
   color:red;
   width: 500px;
}


#my_id {
   color : blue;
}

.mycss {
   color : blue;
}


img[src] {
   color : green;
}

a:hover {
   color : red
}
*/
html {
     font-size: 10px;
     font-family: 'Open Sans', sans-serif;
     background-color: green;
}


h1 {
    font-size: 60px;
    text-align: center;
}

p, li {
   font-size : 16px;
   line-height: 2;
   letter-spacing: 3px;
   padding: 0px 20px 20px 20px;
   border : 0px solid black;
   margin: 20px auto;
}

body {
   width: 600px;
   margin: 0 auto;
   background-color: #FF9500;
   padding: 20px 20px 20px 20px;
   border : 5px solid black;
}

h1 {
margin: 0;
padding: 10px 0;
border : 5px solid black;
text-shadow: 5px 5px 5px black;
}

img{
  width : 600px;
  display : block;
  margin: 0 auto;

}


